.Postlist{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
    margin: 1rem 0;
    max-width: 50rem;
    grid-template-columns: repeat(3, 30%);
    text-align: left;
}